extends base/_layout
block head
    title Annex Finance Farm
block headerClass
    - var activeItem = 'farm'
block mainClass
    - var mainClass = 'main--flex main--biege'
block page
    div#farm.farm
        .container
            .farm-settings
                .farm-settings__stakeonly

                .farm-settings__sort
                    //- select(id="farm-sort")
                    //-     option(value="")
                    //-     option(value="apy") APY
                    //-     option(value="allocpoint") AllocPoint
                    //-     option(value="earned") Earned
                    //-     option(value="liquidity") Liquidity
                .farm-settings__search
                    input(id="farm-search" placeholder="Search Farms")
            .farm-list
                .farm-list-items
                #loading
                    .farm-loading 
                        .loading
                            div 
                            div 
                            div 
                            div
                #no-pools(style="display:none")
                    .farm-no-pools There are no pools
                                    

        block scripts
            script(src="js/farm.js")
            script(src="js/bsc.hook.js")
