extends base/_layout
block head
    title Proposal
block mainClass
    - var mainClass = 'main--flex main--biege'
block page
    .sec-proposal
        .container
            .proposal
                .proposal__header
                    a(href="proposals.html").proposal__back
                        svg(width='17' height='18' fill='none' version='1.1' viewBox='0 0 17 18' xmlns='http://www.w3.org/2000/svg')
                            path(d='m17 8.8125h-15m-0.34375-0.53125 6.25 7.8125m-6.3125-6.6562 6.2812-8.125' stroke='#333' stroke-width='2')
                        h6 All Proposals
                    .status.status--executed Executed
                .proposal__body
                    h4.proposal__title Retroactive Proxy Contract Airdrop — Phase One
                    .proposal__date Voting ended 2 nov 2020, 11:03
                    .progress-items
                        .progress-item
                            .progress-item__title
                                span For
                                span.value 37 552 068
                            .progress-item__progress
                                .progress-item__progress-bar.green(style="width:92%")
                        .progress-item
                            .progress-item__title
                                span Against
                                span.value 1 280 632
                            .progress-item__progress
                                .progress-item__progress-bar(style="width:4%")
                    .proposal__block
                        h4 Details
                        .transfer 1: #[span UNI].transfer(#[span 0x967F2c0826AF779a09E42eff7BfAdAD7618b55E5], 5047600000000000000000000)
                    .proposal__block
                        h4 Description
                        h3 Retroactive Proxy Contract Airdrop — Phase One
                    .proposal__block
                        h4 Context
                        ul
                            li Why: #[a(href="#") Retroactive Airdrop Excludes Proxy Contract Users)]
                            li How: #[a(href="#") Application For Retroactive Proxy Contract Airdrop [For&nbsp;Projects / Apps]]
                            li Phase 1 Details: #[a(href="#") [Proposal] Excluded Proxy Contract Airdrop — Phase 1]
                            li Intention-to-Submit Announcement: #[a(href="#") Announcing Dharma’s Intention to Propose the Retroactive UNI Distribution]
                            li Code: #[a(href="#") https://github.com/dharmaprotocol]
                            li Contract: #[a(href="#") RetroactiveMerkleDistributorPhaseOne]
                            li Merkle Root and claims: #[a(href="#") phase-one-merkle-root-and-claims.json]
                    .proposal__block
                        h4 Description
                        p This proposal brings to a formal vote the Retroactive Distribution, discussed at length in the above links.
                        p This proposal retroactively distributes 400 UNI to 12,619 distinct addresses who interacted with Uniswap via a proxy contract. These 12,619 users are "Phase 1" of the Retroactive Distribution, encompassing users of application-integrations. All of these 12,619 addresses were excluded from the original airdrop.
                        p The Phase determination was made based on how easy it is to programmatically hook a trading bot into them, as this is a proxy for what portion of these cohorts risk representing multiple addresses per end-user. Phase 1 is the less programmatically accessible cohort, indicating a lower likelihood of multiple addresses per end-user.
                    .proposal__block
                        h4 Proposer
                        .address 0x7e4A8391C728fEd9069B2962699AB416628B19Fa


block footer