extends base/_layout
block head
    title Proposals
block page
    .sec-header
        .container
            .sec-header__title Swipe Governance
            p SXP tokens enable Swipe Network users to vote in Swipe Governance. You can vote on each proposal yourself or delegate your votes to a third party address.
    .proposals
        .container
            h5.proposals__title Proposals
            .proposals__list
                a(href="proposal.html").proposals__item
                    .num 3
                    .name Swipe Network Grants Program 
                    .status.status--executed Executed
                a(href="proposal.html").proposals__item
                    .num 2
                    .name Retroactive Proxy Contract Airdrop
                    .status.status--defeated Defeated
                a(href="proposal.html").proposals__item
                    .num 1
                    .name Reduce UNI Governance Proposal
                    .status.status--executed Executed
            .proposals__descr A minimum of 3,000,000 SXP is required to submit proposals.



block footer
