footer.footer
    .container
        .footer__cols
            .footer__col
                .footer__col-head
                    p Products
                .footer__col-body
                    a(href="swap.html") Exchange
                    a(href="https://info.annex.finance") Charts
            .footer__col
                .footer__col-head
                    p Developers
                .footer__col-body
                    a(href="https://docs.annex.finance") Documentation
                    a(href="https://annex.finance/Whitepaper.pdf") Whitepaper
                    a(href="https://github.com/annexfinance") Github
                    //- a(href="#") Bug Bounty
            .footer__col
                .footer__col-head
                    p Community
                .footer__col-body
                    a(href="https://annexfinance.medium.com/") Blog
                    a(href="https://twitter.com/AnnexFinance") Twitter
                    a(href="https://t.me/Annex_finance_group") Telegram
                    a(href="https://annex.finance/terms") Terms
        .footer__form
            h6 Subscribe to our newsletter for updates
            form(action="#").f-subscribe-form
                input(type="email" placeholder="your@email.com")
                button.btn.btn-gradient Subscribe
            .footer__copyright © 2021 Annex Finance
