footer.footer
    .container
        .footer__cols
            .footer__col
                .footer__col-head
                    p Products
                .footer__col-body
                    a(href="swap.html") Exchange
                    a(href="https://info.swipe.org") Charts
                    //- a(href="vote.html") Governance
                    a(href="sxp.html") SXP
                    //- a(href="https://swipe.io") Wallet
            .footer__col
                .footer__col-head
                    p Developers
                .footer__col-body
                    a(href="https://docs.swipe.org") Documentation
                    a(href="https://swipe.org/Whitepaper.pdf") Whitepaper
                    a(href="https://github.com/SwipeWallet") Github
                    //- a(href="#") Bug Bounty
            .footer__col
                .footer__col-head
                    p Community
                .footer__col-body
                    a(href="https://medium.com/Swipe") Blog
                    a(href="https://twitter.com/Swipe") Twitter
                    a(href="https://facebook.com/Swipe") Facebook
                    a(href="https://instagram.com/Swipe") Instagram
                    a(href="https://t.me/SwipeWallet") Telegram
                    a(href="https://t.me/Swipe") Announcements
                    //- a(href="https://discord.swipe.org") Discord
                    a(href="https://youtube.com/SwipeWallet") Youtube
                    a(href="/terms") Terms
        .footer__form
            h6 Subscribe to our newsletter for updates
            form(action="#").f-subscribe-form
                input(type="email" placeholder="your@email.com")
                button.btn.btn-gradient Subscribe
            .footer__copyright © 2021 Swipe
