footer.footer
    .container
        .footer__cols
            .footer__col
                .footer__col-head
                    p Products
                .footer__col-body
                    a(href="https://app.annex.finance/dashboard") Lending
                    a(href="https://app.annex.finance/trade/swap") Swap
                    a(href="https://app.annex.finance/auction") Auction
            .footer__col
                .footer__col-head
                    p Developers
                .footer__col-body
                    a(href="https://docs.annex.finance") Documentation
                    a(href="https://annex.finance/Whitepaper.pdf") Whitepaper
                    a(href="https://github.com/annexfinance") Github
                    //- a(href="#") Bug Bounty
            .footer__col
                .footer__col-head
                    p Community
                .footer__col-body
                    a(href="https://annexfinance.medium.com/") Blog
                    a(href="https://twitter.com/AnnexFinance") Twitter
                    a(href="https://t.me/Annex_finance_group") Telegram
                    a(href="https://annex.finance/terms") Terms
        .footer__form
            .footer__copyright © 2021 Annex Finance
